*.pyc
Betting/__pycache__
api/migrations/
Betting/secret_settings.py

frontend/migrations


### React
# dependencies
frontend/node_modules
frontend//.pnp
frontend/.pnp.js
frontend/package-lock.json

# testing
frontend//coverage

# production
frontend//build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/static/frontend/main.js